*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.5);
}

.title{
    margin-bottom: 30px;
    color: rgba(0, 0, 0, 0.5);
}

.ranger{
    position: relative;
    width: 600px;
    height: 60px;
    border-radius: 30px;
    overflow: hidden;
    border: 1px solid black;
    cursor: move;
}

.ranger .percent{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(90deg, #bb69cc, #246bac);
    font-size: 24px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}