*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: #8cc84c;
}

.container{
    width: 460px;
    padding: 20px;
    background: white;
    border-radius: 15px;
}
.title{
    margin-bottom: 20px;
}
.box{
    border: 1px solid black;
    border-radius: 10px;
    padding: 12px;
}

.box-list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.box-item{
    background: #8cc84c;
    color: white;
    padding: 8px 10px;
    margin-right: 8px;
    margin-bottom: 8px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.box-item span{
    font-size: 24px;
    margin-left: 12px;
    cursor: pointer;
}

.box-input{
    margin-top: 12px;
    margin-bottom: 8px;
    font-size: 20px;
    border: none;
    outline: none;
}

.delete-all{
    background: #8cc84c;
    color: white;
    padding: 12px 16px;
    font-size: 18px;
    outline: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}